.container{
    display:grid;
    grid-template-areas: "header header" "main sidebar" "footer footer" ;
     
 }

body{
    margin: 0;
    background-color: #f0efef;
   font-family: "Open Sans";
   margin-right: 200px;
   margin-left: 200px;
}

body>div:nth-child(2){

    width:65%;
   
}

header{
    
   grid-area: header;
   
   
}


.nav{
    background-color: #033048;
    height: 80px;;
    
}

nav>div>a{
    color: #f9e42e;
    text-decoration: none;
    font-weight: 600px;
    font-size: 1em;
    padding-right: 40px;
    
}

.headera{
    margin-left: 400px;
   /* margin-right: 50px;*/
    margin-top: -25px;
}

.nav>img{
    margin-left: 80px;
    margin-top: 30px;
}



.article{
    border-bottom: 1px solid #033048;
    margin-top: 80px;
    margin-left: 80px;
    grid-area: main;
    
}

.article>h1{
    font-size: 2em;
    font-weight: 600px;
    color: #033048;
    width: 600px;
}

.article>p{
    font-size: 1.1em;
    font-weight: 300px;
    color: #606161;
    width: 600px;
}

.article>a{
    font-size: 1.1em;
    font-weight: 600px;
    color: #033048;
    text-decoration: none;
    padding-left: 490px;
    display: flex;
}

.sidebar{
    grid-area: sidebar;
   /* width:35%;*/
   /* margin-right: 50px;*/
    margin-top: 50px;
   margin-left: 1em;
}

.sidebar>h2{
    font-size: 1em;
    font-weight: 800px;
    color: #033048;
    width: 170px;
}

.sidebar>a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 300px;
    color: #033048;
    width: 200px;
}

.sidebar>p{
    text-decoration: none;
    font-size: 1em;
    font-weight: 300px;
    color: #033048;
    width: 180px;
}


#lm{
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 600px;
    color:#033048;
}


.footer{
    grid-area: footer;
  
  
}

.footer>div:first-child{
    background-color: #f9e42e;
    height: 100px;
    
    display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 35%;
}

.footer>div>a{
    display: inline-block;
   padding: .7em 1.7em;
   background-color:#033048;
   color: white;
   font-weight: 600;
   text-decoration: none;
   width:200px;
   text-align: center;
}

.footer>div:nth-child(2){
    background-color: #121212;
  
    height: 330px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 50px;
}

.footer>div:nth-child(2)>p{
   
    color: white;
    display: flex;
    
    justify-content: center;
}

.tf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}

.ad{
    width:200px;
    height: 600px;
    background-color: white;
    color:#033048;
    text-align: center;
    font-weight: 800px;
    font-size: 1.25em;
}

article>p:first-letter {
   
  float: left;
  font-size: 60px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
    
  }

